body {
    text-align: center;
    background-color: whitesmoke;
}

img {
    max-width: 600px;
    border: 4px solid steelblue;
}

nav {
    background-color: steelblue;
    padding: 10px;
}

a {
    color: white;
    text-decoration: none;
    margin: 20px;
}

h1 {
    color: darkblue;
}

footer {
    background-color: steelblue;
    padding: 15px;
}

footer p {
    color: white;
    margin: 0px;
}