* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #ddd;
}

img {
    max-width: 100%;
    height: auto;
}

nav {
    border: 3px solid #333;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    background-color: gray;
}
nav a {
    color: white;
    text-decoration: none;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    justify-items: center;
}

section#blue {
    background-color: lightblue;
    grid-column: 3/4;
    grid-row: 1/2;
}

section#green {
    background-color: lightgreen;
    grid-column: 1/2;
    grid-row: 1/2;
}

section#red {
    background-color: lightcoral;
    grid-column: 2/3;
    grid-row: 1/2;
}

section#about {
    grid-column: 1/4;
    
}